/* 채팅 input*/
.chat {
    margin-left: 12;
    border: none;
    background: transparent;
    font-size: 1em;
    outline: none;
    padding: 20px;
    position: absolute;
    width: 90%;
    transform: translatey(50%);
    bottom: 50%;
  }
  
  /* 말풍선 */
  .chatArea {
    width: 90%;
    height: fit-content+50px;
    padding: 10px;
    margin: 10px;
    position: relative;
    /* background-color: #3b5998; */
  }
  
  .chatMessage {
    background-color: #d4d4d4;
    color: black;
    height: fit-content;
    padding: 10px;
    border-radius: 15rem;
  }
  
  .chatArea:last-child {
    margin-bottom: 60px;
  }
  .chatArea:first-child {
    margin-top: 64px;
  }

  .showTime {
    color: gray;
    font-size: small;
    margin-left: 10px;
    padding-right: 5px;
  }
  
  .onDeleteClick {
    background-color: transparent;
    color: gray;
    border: none;
  }
  
  .botIcon {
    color: #3b5998;
    margin-right: 10px;
  }

  .img {
    width: 100px;
    max-height: 60px;
  }

  .chatBoxWrap {
    display: flex;
    flex-flow: column;
  }