.topBar {
  background-color: #3b5998;
  color: red;
  /* display: flex; */
  /* align-items: center; */
  height: 3.5rem;
  /* justify-content: "center"; */
  /* font-size: 1.2em; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
}

.btnExit {
  margin-left: 1.5rem;
}

.chatbotName {
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}
