.underBar {
  background-color: rgb(138, 138, 138);
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.btnEnter {
  margin-right: 1rem;
  position: absolute;
  right: 1rem;
  padding: none;
}

.chat {
  color: "white";
  flex: 1;
  margin-left: 12;
  border: none;
  background: transparent;
  font-size: 1em;
  outline: none;
  padding: 20px;
}

.chatBox {
  background-color: bisque;
  color: black;
  width: fit-content;
  height: "fit-content";
  padding: 10px;
  border-radius: 20rem;
  margin-left: 20px;

  /* top: 10px;
    font-size: 11pt;
    position: relative;
    text-align: right; */
}
