.underBar {
  background-color: #3b5998;
  height: 3rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.underBar .chat {
  color: white;
}

.btnEnter {
  color: white;
  margin-right: 1rem;
  position: absolute;
  right: 1rem;
}

/* 채팅 input*/
.chat {
  margin-left: 12;
  border: none;
  background: transparent;
  font-size: 1em;
  outline: none;
  padding: 20px;
  position: absolute;
  width: 90%;
  transform: translatey(50%);
  bottom: 50%;
}

/* 말풍선 */
.chatBox {
  background-color: #d4d4d4;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 15rem;
  margin: 10px;
  position: relative;
  right: -98%;
  transform: translateX(-100%);
}

.textForm {
  position: sticky;
  top: 100px;
}